In [97]:
import tabula
import re
import pandas as pd
import numpy as np
import math
from pdf2image import convert_from_path
from PIL import Image
import pytesseract
from PyPDF2 import PdfFileReader

In [92]:
pdf_path = 'Gz_Ia1p21.pdf'

In [101]:
%%time
tables = tabula.read_pdf(pdf_path, pages='103-1218', multiple_tables=True)

CPU times: user 3.22 s, sys: 142 ms, total: 3.36 s
Wall time: 3min 16s

In [102]:
# pdf_reader = PdfFileReader(open(pdf_path, 'rb'))
# total_pages = pdf_reader.getNumPages()

In [104]:
var = {}
tbl = 0
for t in tables:
    c = 3
    s = 0
    for i in range(3):
        var_df = f"t{tbl}"
        var[var_df] = t[t.columns[s:c]]
        c+=3
        s+=3
        tbl+=1

In [122]:
var

{'t0':                              Roll-No Name  Result
 0      211001 - GOVT. COLLEGE, GUJRANWALA     NaN
 1   301572 KAMRAN------------------------     171
 2   301577 MUHAMMAD YOUNIS---------------     208
 3   301580 HAFIZ ABDULLAH BUTT-----------     365
 4   301583 MUHAMMAD RAMZAN---------------     196
 5   301586 MUHAMMAD ARSALAN--------------     309
 6   301589 RAZA ULLAH--------------------     193
 7   301617 ALI HAIDER--------------------     193
 8   301624 MUHAMMAD MUKARRAM RAZA--------     231
 9   301657 MUHAMMAD SUFYAN ALI-----------     213
 10  301662 MUHAMMAD SAMI-----------------     171
 11  301666 ALI HAIDER--------------------     250
 12  301669 SAFEER IFTIKHAR---------------     420
 13  301672 ABUZAR------------------------     183
 14  301675 ADEEL AHMAD-------------------     PHY
 15  301677 ZAKRIA NASIR------------------     242
 16  301705 NAVEED AHMED------------------     217
 17  301712 MUHAMMAD AHMED----------------     171
 18  301716 WAQAR AHMAD-------------------     217
 19  301719 ZAIGHAM ABBAS KHAN------------     171
 20  301722 ALI HAIDER--------------------  ABSENT
 21  301725 MUHAMMAD ALI------------------     381
 22  301728 MUHAMMAD PERVAIZ--------------     236
 23  301731 MUHAMMAD UMAR-----------------     286
 24  301733 AFTAB AHMAD-------------------     250
 25  301760 SHAHID KHAN-------------------     187
 26  301767 MUHAMMAD YASEEN CHATTAH-------     243
 27  301772 UMER FIAZ---------------------     172
 28  301775 ZAIN ALLAH DITTA--------------     290
 29  301778 HAROON------------------------     171
 30  301781 HUZAIFA-----------------------     198
 31  301784 JAWAD AHMAD-------------------     PHY
 32  301787 MUHAMMAD AHMAD----------------     183
 33  301790 UMAR ZIKRIA-------------------     385
 34  301814 RAB NAWAZ---------------------  ABSENT
 35  301821 SIRAT ALI---------------------     208
 36  301827 MUHAMMAD USMAN----------------     355
 37  301831 AHMAD ASLAM-------------------     285
 38  301835 HANZLA------------------------     171
 39  301839 MUHAMMAD SUFYAN---------------     257,
 't1':                              Roll-No Name  Result
 0   301868 ABDULLAH MEHMOOD--------------     282
 1   301875 MUHAMMAD RIZWAN MANSHA--------     211
 2   301879 MUSAB SHAFIQ------------------     316
 3   301882 RANA MUHAMMAD SHAHZAIB--------     325
 4   301885 ADEEL HASAN-------------------  ABSENT
 5   301888 HAMZA TARIQ-------------------     394
 6   301891 HUZAIFA WAHEED----------------     172
 7   301893 SAAD YAQOOB-------------------     354
 8   301920 AQIB RAFIQUE------------------     174
 9   301927 ASAD ALI----------------------     174
 10  301931 SHARJEEL----------------------     395
 11  301934 SAJEEL------------------------     302
 12  301936 ALI HASSAN--------------------     172
 13  301938 SAMI ULLAH--------------------     321
 14  301970 MUHAMMAD ALI------------------     381
 15  301976 MUHAMMAD HAMZA----------------     201
 16  301980 MUHAMMAD TALHA----------------     467
 17  301983 ABDUL WAHID-------------------     171
 18  301986 DANISH------------------------     171
 19  301989 MUHAMMAD TALHA----------------     336
 20  302015 MUHAMMAD HAROON---------------     221
 21  302022 AHMAD AMEER KHAN--------------     171
 22  302026 MUHAMMAD HASNAIN--------------  ABSENT
 23  302030 MUNEEB KHAN-------------------     174
 24  302034 ALI HASSAN--------------------     171
 25  302036 MUHAMMAD AHMAD BUTT-----------     206
 26  302038 QASID ALI---------------------     184
 27  302064 MUAZZAM SHAHZAD---------------     213
 28  302071 SHEHRIYAR ALI-----------------     177
 29  302074 ABDUL REHMAN------------------     473
 30  302076 MUHAMMAD ZEESHAN AHMAD--------     183
 31  302078 USMAN GHANI-------------------     171
 32  302080 FAIZ RASOOL-------------------     198
 33  302082 ARSLAN NASEEM BASRA-----------     171
 34  302103 MUHAMMAD AMMAR----------------     171
 35  302108 EZAM SEYAM--------------------     191
 36  302112 MUHAMMAD ZAIN UL ABEDIN-------     356
 37  302115 MUHAMMAD ZAIN KHAN------------     171
 38  302117 MUHAMMAD ZAIN UL ABAIDIN------     230
 39  302119 UMAIR ALI BHATTI--------------     171,
 't2':                              Roll-No Name   Result
 0   302121 MUHAMMAD DAWOOD---------------      193
 1   302123 SAJJAD ALI--------------------      299
 2   302149 LUQMAN ALI--------------------      295
 3   302155 MUHAMMAD AWAIS----------------      218
 4   302159 ABDUL WAHAB-------------------      171
 5   302162 HAFIZ MUHAMMAD BABAR----------      197
 6   302165 KHUSHI MUHAMMAD---------------      172
 7   302168 ANAS BIN ANSAR----------------      311
 8   302196 MUHAMMAD ASHIR----------------  PHY,BIO
 9   302204 SHAHMIR BILAL-----------------      262
 10  302209 ABUBAKAR----------------------      201
 11  302213 MUHAMMAD BILAL----------------      227
 12  302216 ANAS AKRAM--------------------      208
 13  302246 BILAL ABDUL RAHMAN------------      272
 14  302251 FAISAL SAJJAD-----------------      171
 15  302254 MAAZ HASAN--------------------   ABSENT
 16  302257 MOHAMMAD AZEEM----------------      184
 17  302260 MUHAMMAD ATTIF----------------      311
 18  302291 HAMZA ABID--------------------   ABSENT
 19  302296 MUHAMMAD ABDUREHMAN BUTT------      344
 20  302300 SHOAIB AHMAD------------------      361
 21  302303 UMER ZUBAIR-------------------      171
 22  302306 ZOHAIB WAHEED-----------------      384
 23  302309 AHMAD AMJAD-------------------      408
 24  302312 MUHAMMAD QASIM----------------      242
 25  302315 ANGEL BRIAN-------------------      359
 26  302318 ARSLAN AHMAD------------------      178
 27  302321 MUHAMMAD AHMAD----------------      256
 28  302345 SAQIB SHEHZAD-----------------      257
 29  302353 ABDUL MANAN-------------------      196
 30  302358 HASHIM ALI--------------------      364
 31  302362 MUHAMMAD NOMAN----------------   ABSENT
 32  302365 USAMA REHMAN------------------      197
 33  302367 MUHAMMAD HAMZA----------------      213
 34  302369 MABASHAR MEHMOOD--------------      260
 35  302371 MUHAMMAD AZEEM----------------      216
 36  302373 SAQIB ALI---------------------      191
 37  302375 ZARSHAM AHMAD-----------------      187
 38  302398 ABDULLAH----------------------      196
 39  302404 ASIF MASIH--------------------      493,
 't3':                              Roll-No Name  Result
 0   302408 AAZVER NASIR------------------     326
 1   302411 UMAR HUSNAIN------------------     171
 2   302414 ZAIN UL ABIDEEN---------------     250
 3   302417 SAMEER AHMAD------------------     349
 4   302449 MUHAMMAD MOHSAN AMANAT--------     233
 5   302453 AHMAD-------------------------     351
 6   302457 MUHAMMAD TAHIR----------------     223
 7   302460 NUMAN-------------------------     184
 8   302463 AHMAD HASSAN------------------     390
 9   302466 ALI HAIDER--------------------     171
 10  302469 MALIK MUHAMMAD FAKHIR---------     428
 11  302472 NAJAM HAYAT-------------------     171
 12  302475 MUHAMMAD HUZAIFA KHAN---------     187
 13  302500 SHAHZAIB----------------------     467
 14  302506 UMER FAROOQ-------------------     395
 15  302510 ABID ALI----------------------     181
 16  302514 FARHAN MAQSOOD----------------     247
 17  302517 ABDULLAH----------------------     257
 18  302519 MUHAMMAD SUHAIB HASSAN--------     227
 19  302547 HUSNAIN ALI-------------------     172
 20  302554 MEHTAB------------------------     415
 21  302558 MOHSIN ALI--------------------     191
 22  302561 MUHAMMAD UMAR IFTIKHAR BUTT---     379
 23  302563 HUSSAIN-----------------------     311
 24  302565 PRINCE------------------------     184
 25  302567 ABU HURAIRA-------------------     381
 26  302569 MUHAMMAD ABU BAKAR------------     299
 27  302571 ABDULLAH SAEED----------------     390
 28  302599 EPHRAIM PERVIZ----------------     171
 29  302605 ABDUL RAHEEM------------------     296
 30  302609 MUHAMMAD MURTAZA--------------  ABSENT
 31  302613 MUDASSAR HUSSAIN--------------     272
 32  302616 MUHAMMAD SABEEH ALI-----------     326
 33  302619 SYED ALI HAIDER BUKHARI-------     193
 34  302622 ADEEL ABDUL RASHEED-----------     467
 35  302625 ARHAM ASLAM-------------------     171
 36  302627 HANNAN LIAQAT-----------------     311
 37  302629 KAIF RAZA---------------------      CH
 38  302631 ZOHAIB ALI--------------------  ABSENT
 39  302633 MUHAMMAD ABDULLAH-------------     217,
 't4':                              Roll-No Name  Result
 0   302652 ALI AHMAD---------------------     247
 1   302656 MUHAMMAD FARAZ ARSHAD---------     295
 2   302659 MUHAMMAD WASEEF---------------     321
 3   302662 MUHAMMAD ATIF-----------------     246
 4   302665 RIZWAN ALI--------------------     242
 5   302668 MUNEEB AHMAD------------------     440
 6   302670 MUHAMMAD AWAIS----------------     282
 7   302672 MUHAMMAD AWAIS----------------     355
 8   302698 ALI AHMAD---------------------     299
 9   302704 MUNEEB BUTT-------------------     171
 10  302709 ALI REHMAN--------------------     201
 11  302713 SAMI ULLAH--------------------  ABSENT
 12  302716 ABDULLAH----------------------     171
 13  302718 ASGHAR ALI--------------------     309
 14  302720 SUFYAN ALI--------------------     171
 15  302722 RANA SANABAL BHEEKH-----------     171
 16  302724 SHAHZAD-----------------------     246
 17  337079 AWAIS RAZA--------------------     176
 18  337085 HAMMAD ZAFAR------------------     176
 19  337087 NISHOOZ MUNAWAR---------------     182
 20  337089 SABI HAIDER-------------------     204
 21  337091 SHAHNOOR ZAMAN----------------     202
 22  337093 MUHAMMAD QASIM----------------     203
 23  337096 ABDUL HANAN-------------------     196
 24  337102 AHSAN BHATTI------------------     202
 25  337106 MUHAMMAD SAQIB SHABBIR--------     243
 26  337109 WAHEED ALI--------------------     234
 27  337112 ISAR AHMAD--------------------     229
 28  337114 MEHTAB HASSAN-----------------     233
 29  337117 JAWAD AZMAT-------------------     199
 30  337125 MUHAMMAD FAROOQ---------------     349
 31  337128 ABU SAFYAN--------------------     176
 32  337130 JUNAID FAREED-----------------     406
 33  337133 FAIZ UL HASSAN----------------     399
 34  337140 MUHAMMAD ABDULLAH-------------     375
 35  337142 ANEES AHMAD-------------------     366
 36  337143 MUHAMMAD ASAD ABBAS-----------     227
 37  337144 AHSAN RAZA--------------------     203
 38  337149 KHIZAR ABBAS------------------     176
 39  337152 MIRZA ABEER AHMAD-------------     204,
 't5':                              Roll-No Name  Result
 0   337154 SOHAL HUMAIS ZULFQAR----------     176
 1   337156 FARRUKH AHMAD-----------------     196
 2   337158 SAMIULLAH---------------------     199
 3   337159 ZAIGHUM ALI-------------------     193
 4   337160 RANA BILAL SHEHZAD------------     176
 5   337161 SHERAZ HASSAN-----------------     247
 6   337163 ZAIN UL ABIDDIN---------------     176
 7   337168 ASAD ULLAH--------------------     513
 8   337172 MUHAMMAD ASADULLAH------------  ABSENT
 9   337175 MUHAMMAD DANISH---------------     212
 10  337177 MUHAMMAD AHMAD RAZA-----------  ABSENT
 11  337181 ABDUL AHAD--------------------     243
 12  337188 WALEED AHMAD------------------     176
 13  337191 ZULKIFAL----------------------     176
 14  337194 SALAR ALI---------------------     254
 15  337196 TALHA ZUBAIR------------------     176
 16  337197 AHAD NASEER-------------------     197
 17  337198 HANZALA-----------------------     197
 18  337199 MUHAMMAD HAROON---------------     186
 19  337200 MUHAMMAD ANAS WARRAICH--------     366
 20  337201 HASSAN RAZA-------------------     283
 21  337207 SAMEER ABBAS------------------     329
 22  337210 FAIZAN AHMAD------------------     376
 23  337212 MOHSIN RAZA-------------------     203
 24  337214 MUHAMMAD FIAZ-----------------     176
 25  337216 SYED ZAHID ULLAH HASHMI-------     386
 26  337218 USAMA-------------------------     234
 27  337219 ABRAR AHMED-------------------     257
 28  337224 ABDULLAH NAEEM----------------     PHY
 29  337228 MUZAMMAL MUKHTAR--------------     364
 30  337231 MUHAMMAD MUDASAR--------------     233
 31  337233 UZAIR AHMAD-------------------     176
 32  337236 MUHAMMAD ZAIN-----------------     243
 33  337241 MUHAMMAD AHMER----------------     335
 34  337245 SAAD BIN WAQAS----------------     409
 35  337249 TAYYAB ALI--------------------     280
 36  337254 JAWAD HASSAN------------------     203
 37  337258 ABDUL MOIN--------------------     189
 38  337260 FAIZAN RIASAT-----------------     179
 39  337261 USMAN HAIDER------------------     410,
 't6':                              Roll-No Name   Result
 0   337262 MUHAMMAD MOIN-UL-DIN----------      176
 1   337263 SALMAN SHAHID-----------------      176
 2   337264 ABDUL HASEEB------------------      318
 3   337265 AMEER HAMZA-------------------  PHY,MTH
 4   337266 AQIB MUNIR--------------------      243
 5   337267 MUHAMMAD REHAN----------------      197
 6   337268 ABBAS ALI---------------------      257
 7   337273 FAHAD ASHFAQ------------------      196
 8   337276 HAFIZ HARIS NADEEM------------      234
 9   337279 MUHAMMAD HASSAN---------------      335
 10  337280 SAJJAD PATRAS-----------------      192
 11  337281 SHAHID------------------------      402
 12  337282 WAQAS ALI---------------------      176
 13  337283 ZULKAIF MATE------------------      257
 14  337284 HAMZA ZULFIQAR----------------      288
 15  337285 MUHAMMAD SUBEEH---------------      293
 16  337286 SALMAN AHMAD------------------      314
 17  337287 SYED USMAN--------------------      213
 18  337288 SYED IRTAZA HASSAN------------      209
 19  337289 ALI RAZA----------------------      268
 20  337296 GULFAM HUSSAIN----------------      229
 21  337299 MUHAMMAD SHAHZAIB TARIQ-------      176
 22  337301 SHAH MEER---------------------      260
 23  337302 USAMA AFZAL-------------------      176
 24  337303 ZAHID ALI---------------------      305
 25  337304 HUSNAIN ALI-------------------      344
 26  337305 USMAN ALI---------------------      176
 27  337306 MUHAMMAD NABEEL UR REHMAN-----      267
 28  337307 MUHAMMAD SUDAIF RAZA----------      258
 29  337308 TAYYAB------------------------      222
 30  337309 MUHAMMAD TALHA----------------      204
 31  337310 MUHAMMAD ALI ISHAQ------------      354
 32  337312 ABU BAKAR---------------------      395
 33  337319 ALI HASSAN--------------------      477
 34  337322 SOHAIB ALI HASHAM-------------      176
 35  337325 UMAIR SHAFI-------------------      298
 36  337327 MUHAMMAD SUFYAN YASIN---------      470
 37  337333 AHSAN ULLAH ZIA---------------      177
 38  337339 MUHAMMAD RAYAN KHAN-----------      354
 39  337342 MUHAMMAD ALI------------------      311,
 't7':                              Roll-No Name  Result
 0   337344 ZEESHAN-----------------------     196
 1   337345 ALI SHAIR---------------------     273
 2   337346 MUHAMMAD AHMAD----------------     176
 3   337347 SHABAN ANSAR------------------     176
 4   337348 SUFYAN AHMAD------------------     199
 5   337349 MUHAMMAD SHAHAB UD DIN--------     470
 6   337355 MUHAMMAD ABAID ULLAH BHATTI---     263
 7   337358 NASIR ALI---------------------     386
 8   337360 UMAIR ALI BUTT----------------     199
 9   337361 AFAQ AHMAD--------------------     278
 10  337362 ZAIN UL ABEDEEN---------------     432
 11  337363 ASAD ALI----------------------     214
 12  337369 MUHAMMAD ABDULLAH-------------     280
 13  337373 MUHAMMAD HUSNAIN--------------     193
 14  337375 SHALIB ZAFAR------------------     247
 15  337377 MUHAMMAD FAIZAN---------------     223
 16  337378 SIBGHAT ULLAH-----------------     234
 17  337379 TASEER AHMAD------------------     247
 18  337380 AHMAD SHAHZAIB RAZA-----------     392
 19  337387 ZAIN UL ABIDIN----------------     176
 20  337391 ABU HURAIRAH------------------     483
 21  337395 TALHA DILDAR------------------  ABSENT
 22  337398 ARSLAN------------------------  ABSENT
 23  337402 AHMAD RAZA--------------------     260
 24  337405 NOOR UL HASSAN----------------     264
 25  337408 RABISH SADDIQI----------------     187
 26  337409 ARQAM SAEED-------------------     186
 27  337410 MUHAMMAD HASEEB KHALID--------     176
 28  337415 TALHA ZAHID-------------------     244
 29  337418 HASSAN------------------------     410
 30  337420 JUNAID ASHRAF-----------------     267
 31  337422 MUHAMMAD SHOAIB---------------     176
 32  337426 ABDULLAH----------------------     381
 33  337429 MUHAMMAD NOUMAN---------------     283
 34  337432 MUHAMMAD SAMEEN---------------     223
 35  337434 MUHAMMAD AHMAD AHMAR----------     254
 36  337436 MUHAMMAD SHAHROZ ZAHID--------     493
 37  337438 MUHAMMAD SAMEER---------------     374
 38  337440 SYED MUHAMMAD MOHEET AHMAD----     440
 39  337441 ABU FAIZAN AHMAD--------------     179,
 't8':                              Roll-No Name  Result
 0   337442 REHMAN ALI--------------------     329
 1   337443 UMAIR MUNIR-------------------     308
 2   337444 TALHA NADEEM------------------     250
 3   337445 ABDUL REHMAN------------------     346
 4   337452 ADNAN KHAN--------------------     192
 5   337456 MUNEEB JAVED------------------     176
 6   337458 SUFIAN AHMAD------------------     176
 7   337460 JAWAD ZAHID-------------------     264
 8   337462 MUHAMMAD IBRAHIM CHATTHA------     199
 9   337464 SUMAIR HAFEEZ-----------------     290
 10  337465 MUNEEB UR REHMAN--------------     197
 11  337472 ABDULLAH ARIF BUTT------------     233
 12  337476 MUHAMMAD USMAN----------------     176
 13  337478 MUHAMMAD SOHAIB---------------     267
 14  337480 HASSAN RAZA-------------------     176
 15  337482 MUHAMMAD MUDASSAR-------------     381
 16  337484 SAMI ULLAH--------------------     310
 17  337485 UMAR RAZA---------------------     217
 18  337486 FASSIH REHMAN-----------------     268
 19  337487 HAFIZ SAAD BIN LUQMAN---------     310
 20  337492 TALHA ASLAM-------------------     285
 21  337496 MUHAMMAD MUSTAFA SHAHID-------     196
 22  337499 MUHAMMAD AHMAR----------------     280
 23  337501 HAMMAD AHMAD------------------     203
 24  337503 IQTRAB------------------------     189
 25  337505 NAZAM ALI---------------------     331
 26  337507 FAHAD ALI---------------------     202
 27  353951 MUHAMMAD GULFAM---------------     250
 28  353959 MUHAMMAD ABRAR----------------     235
 29  353964 MUHAMMAD ANUS-----------------     275
 30  353967 SAAD TARIQ--------------------     306
 31  353970 HASSAN MUHAMMAD---------------     273
 32  353973 MUHAMMAD ZAMAN----------------     361
 33  353976 MUHAMMAD SUMAIN RAFIQUE-------     176
 34  353978 TAIMOOR RIAZ------------------     202
 35  353980 SUBHAN AHMAD------------------     364
 36  353981 MUHAMMAD ANS------------------     215
 37  353988 HAMMAD SHAFQAT----------------     250
 38  353994 ALI HUSNAIN-------------------     219
 39  353998 ANAS REHMAN-------------------     412,
 't9':                              Roll-No Name  Result
 0   354001 WALEED JAVAID-----------------     232
 1   354002 ALI HAIDER--------------------     176
 2   354003 MUHAMMAD RIZWAN---------------     249
 3   354005 ZEESHAN RASHEED---------------     194
 4   354011 SHAHRAM SHAFAQAT--------------     240
 5   354016 ZAHBAB IRFAN------------------     278
 6   354021 ABDULLAH----------------------     288
 7   354024 MUHAMMAD MUNEEB---------------     200
 8   354030 MUNEEB HASSAN-----------------     293
 9   354035 ZUBAIR ALI--------------------     282
 10  354039 MUHAMMAD HAROON---------------     328
 11  354042 SHAMAS HUSSAIN----------------     257
 12  354045 MUHAMMAD ALI------------------     321
 13  354047 MUHAMMAD NOUMAN---------------     371
 14  354048 YASIR ALI---------------------     328
 15  354050 AMEER HAMZA-------------------     256
 16  354057 HAFIZ HASSAN ALI FAIZ---------     283
 17  354062 ABDULLAH MASOOD---------------     227
 18  354066 AHTISHAM BUTT-----------------     310

In [108]:
for name in list(var.keys()):
    try:
        col = [i for i in var[name].columns if i.startswith('Unnamed')]
        var[name].drop(col, axis=1, inplace=True)
        var[name].columns=['Roll-No Name', 'Result']
    except:
        print(name)

/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:

t110
t149
t170
t173
t182
t227
t230
t251
t257
t266
t275
t296
t314
t323
t593
t629
t644
t662
t701
t707
t719
t728
t749
t752
t776
t800
t812
t830
t866
t944
t974
t989
t1052
t1208
t1232
t1247
t1250
t1259
t1277
t1280
t1283
t1286
t1295
t1331
t1361
t1367
t1433
t1436
t1457
t1520
t1541
t1616
t1634
t1652
t1667
t1673
t1685
t1778
t1787
t1871
t1889
t1907
t1925
t2027
t2138
t2144
t2177
t2183
t2444
t2483
t2507
t2546
t2570
t2603
t2606
t2627
t2639
t2672
t2675
t2696
t2702
t2705
t2708
t2711
t2717
t2720
t2723
t2750
t2753
t2756
t2801
t2804
t2810
t2813
t2819
t2825
t2828
t2831
t2837
t2861
t2864
t2888
t2891
t2894
t2903
t2909
t2927
t2930
t2933
t2939
t2960
t2963
t2969
t2975
t2978
t3035
t3044
t3053
t3074
t3155
t3218

/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  var[name].drop(col, axis=1, inplace=True)
/var/folders/bh/phg5j6rx557fc31zr9pgztnr0000gn/T/ipykernel_4947/1313982852.py:4: SettingWithCopyWarning:

In [ ]:
var

In [145]:
con_df = pd.DataFrame()
for con in list(var.keys()):
    con_df = pd.concat([con_df, var[con]], ignore_index=True)

In [146]:
df = con_df.dropna(subset='Roll-No Name')

In [147]:
len(df)

125064

In [148]:
len(df[df['Result.2'].isnull()])

125064

In [129]:
con_df[con_df['Result']]

KeyError: "None of [Index([  nan, '171', '208', '365', '196', '309', '193', '193', '231', '213',\n       ...\n         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan],\n      dtype='object', length=139920)] are in the [columns]"

In [143]:
df = df.drop('Result.2', axis= 1)

KeyError: "['Result.2'] not found in axis"

In [139]:
df['Roll'] = df['Roll-No Name'].str.split(expand=True)[0]

In [140]:
df['Name'] = df['Roll-No Name'].str[7:]

In [141]:
df.drop('Roll-No Name', axis=1, inplace=True)

In [142]:
df

       Result    Roll                            Name
0         NaN  211001     - GOVT. COLLEGE, GUJRANWALA
1         171  301572  KAMRAN------------------------
2         208  301577  MUHAMMAD YOUNIS---------------
3         365  301580  HAFIZ ABDULLAH BUTT-----------
4         196  301583  MUHAMMAD RAMZAN---------------
...       ...     ...                             ...
139915    NaN     NaN                             NaN
139916    NaN     NaN                             NaN
139917    NaN     NaN                             NaN
139918    NaN     NaN                             NaN
139919    NaN     NaN                             NaN

[139920 rows x 3 columns]

In [71]:
[''.join(re.split(' ', df['Roll-No Name'][n])[1:]) for n in df['Roll-No Name']]

KeyError: '211001 - GOVT. COLLEGE, GUJRANWALA'

In [38]:
df['Roll-No Name'] = [''.join(re.split(' ', i)[1:]) for i in df['Roll-No Name']]

In [62]:
type(np.nan)

float

In [77]:
type(math.nan)

float

In [79]:
type(df['Result'][1])

str

In [82]:
df['Result'][0]

nan

In [84]:
type(df['Result'][0])

float

In [149]:
df_final[df_final['Result']==217]

Empty DataFrame
Columns: [Roll-No Name, Unnamed: 0, Result]
Index: []

In [150]:
df = df_final[df_final['Result'] != np.nan]

In [151]:
roll = [re.split(' ', i)[0] for i in df['Roll-No Name']]

In [152]:
roll

['211001',
 '301572',
 '301577',
 '301580',
 '301583',
 '301586',
 '301589',
 '301617',
 '301624',
 '301657',
 '301662',
 '301666',
 '301669',
 '301672',
 '301675',
 '301677',
 '301705',
 '301712',
 '301716',
 '301719',
 '301722',
 '301725',
 '301728',
 '301731',
 '301733',
 '301760',
 '301767',
 '301772',
 '301775',
 '301778',
 '301781',
 '301784',
 '301787',
 '301790',
 '301814',
 '301821',
 '301827',
 '301831',
 '301835',
 '301839',
 '211001',
 '301572',
 '301577',
 '301580',
 '301583',
 '301586',
 '301589',
 '301617',
 '301624',
 '301657',
 '301662',
 '301666',
 '301669',
 '301672',
 '301675',
 '301677',
 '301705',
 '301712',
 '301716',
 '301719',
 '301722',
 '301725',
 '301728',
 '301731',
 '301733',
 '301760',
 '301767',
 '301772',
 '301775',
 '301778',
 '301781',
 '301784',
 '301787',
 '301790',
 '301814',
 '301821',
 '301827',
 '301831',
 '301835',
 '301839',
 '211001',
 '301572',
 '301577',
 '301580',
 '301583',
 '301586',
 '301589',
 '301617',
 '301624',
 '301657',
 '301662',
 '301666',
 '301669',
 '301672',
 '301675',
 '301677',
 '301705',
 '301712',
 '301716',
 '301719',
 '301722',
 '301725',
 '301728',
 '301731',
 '301733',
 '301760',
 '301767',
 '301772',
 '301775',
 '301778',
 '301781',
 '301784',
 '301787',
 '301790',
 '301814',
 '301821',
 '301827',
 '301831',
 '301835',
 '301839']

In [153]:
df

                              Roll-No Name  Unnamed: 0 Result
0       211001 - GOVT. COLLEGE, GUJRANWALA         NaN    NaN
1    301572 KAMRAN------------------------         NaN    171
2    301577 MUHAMMAD YOUNIS---------------         NaN    208
3    301580 HAFIZ ABDULLAH BUTT-----------         NaN    365
4    301583 MUHAMMAD RAMZAN---------------         NaN    196
..                                     ...         ...    ...
115  301821 SIRAT ALI---------------------         NaN    208
116  301827 MUHAMMAD USMAN----------------         NaN    355
117  301831 AHMAD ASLAM-------------------         NaN    285
118  301835 HANZLA------------------------         NaN    171
119  301839 MUHAMMAD SUFYAN---------------         NaN    257

[120 rows x 3 columns]

In [24]:
text_pattern = 'Unnamed'

In [32]:
df.columns

Index(['Roll-No Name', 'Unnamed: 0', 'Result', 'Roll-No Name.1', 'Unnamed: 1',
       'Result.1', 'Roll-No Name.2', 'Unnamed: 2', 'Result.2'],
      dtype='object')

In [38]:
df['Roll-No Name'][2]

'301577 MUHAMMAD YOUNIS---------------'

In [30]:
columns_to_drop = [col for col in df.columns if any(df[col].str.match(text_pattern))]

AttributeError: Can only use .str accessor with string values!

In [ ]:
df = df.drop(columns=columns_to_drop)

In [29]:
columns_to_drop

[]

In [52]:
df1

                             Roll-No Name  Unnamed: 0  Result
0      211001 - GOVT. COLLEGE, GUJRANWALA         NaN     NaN
1   301572 KAMRAN------------------------         NaN     171
2   301577 MUHAMMAD YOUNIS---------------         NaN     208
3   301580 HAFIZ ABDULLAH BUTT-----------         NaN     365
4   301583 MUHAMMAD RAMZAN---------------         NaN     196
5   301586 MUHAMMAD ARSALAN--------------         NaN     309
6   301589 RAZA ULLAH--------------------         NaN     193
7   301617 ALI HAIDER--------------------         NaN     193
8   301624 MUHAMMAD MUKARRAM RAZA--------         NaN     231
9   301657 MUHAMMAD SUFYAN ALI-----------         NaN     213
10  301662 MUHAMMAD SAMI-----------------         NaN     171
11  301666 ALI HAIDER--------------------         NaN     250
12  301669 SAFEER IFTIKHAR---------------         NaN     420
13  301672 ABUZAR------------------------         NaN     183
14  301675 ADEEL AHMAD-------------------         NaN     PHY
15  301677 ZAKRIA NASIR------------------         NaN     242
16  301705 NAVEED AHMED------------------         NaN     217
17  301712 MUHAMMAD AHMED----------------         NaN     171
18  301716 WAQAR AHMAD-------------------         NaN     217
19  301719 ZAIGHAM ABBAS KHAN------------         NaN     171
20  301722 ALI HAIDER--------------------         NaN  ABSENT
21  301725 MUHAMMAD ALI------------------         NaN     381
22  301728 MUHAMMAD PERVAIZ--------------         NaN     236
23  301731 MUHAMMAD UMAR-----------------         NaN     286
24  301733 AFTAB AHMAD-------------------         NaN     250
25  301760 SHAHID KHAN-------------------         NaN     187
26  301767 MUHAMMAD YASEEN CHATTAH-------         NaN     243
27  301772 UMER FIAZ---------------------         NaN     172
28  301775 ZAIN ALLAH DITTA--------------         NaN     290
29  301778 HAROON------------------------         NaN     171
30  301781 HUZAIFA-----------------------         NaN     198
31  301784 JAWAD AHMAD-------------------         NaN     PHY
32  301787 MUHAMMAD AHMAD----------------         NaN     183
33  301790 UMAR ZIKRIA-------------------         NaN     385
34  301814 RAB NAWAZ---------------------         NaN  ABSENT
35  301821 SIRAT ALI---------------------         NaN     208
36  301827 MUHAMMAD USMAN----------------         NaN     355
37  301831 AHMAD ASLAM-------------------         NaN     285
38  301835 HANZLA------------------------         NaN     171
39  301839 MUHAMMAD SUFYAN---------------         NaN     257

In [85]:
tables = tabula.read_pdf('Resultcard.pdf', pages='103', multiple_tables=True)

Error from tabula-java:
Exception in thread "main" java.lang.IndexOutOfBoundsException: Page number does not exist.
	at technology.tabula.ObjectExtractor.extractPage(ObjectExtractor.java:19)
	at technology.tabula.PageIterator.next(PageIterator.java:30)
	at technology.tabula.CommandLineApp.extractFile(CommandLineApp.java:161)
	at technology.tabula.CommandLineApp.extractFileTables(CommandLineApp.java:124)
	at technology.tabula.CommandLineApp.extractTables(CommandLineApp.java:106)
	at technology.tabula.CommandLineApp.main(CommandLineApp.java:76)

CalledProcessError: Command '['java', '-Djava.awt.headless=true', '-Dfile.encoding=UTF8', '-jar', '/Users/hassanazhar/anaconda3/lib/python3.11/site-packages/tabula/tabula-1.0.5-jar-with-dependencies.jar', '--pages', '103', '--guess', '--format', 'JSON', 'Resultcard.pdf']' returned non-zero exit status 1.

In [126]:
pdf_file = 'Resultcard.pdf'

In [127]:
images = convert_from_path(pdf_file, dpi=300)

In [128]:
# Save each page as an image
for i, image in enumerate(images):
    image.save('new.jpg', 'JPEG')

In [130]:
image_file = 'new.jpg'

In [131]:
image = Image.open(image_file)

In [132]:
extracted_text = pytesseract.image_to_string(image)

In [133]:
extracted_text

'Board of Intermediate & Secondary Education, Gujranwala\n\nINTERMEDIATE (PART-I) ANNUAL EXAMINATION, 2021\n\nPROVISIONAL RESULT INTIMATION\n\nGroup: PRE-MEDICAL\n\nRoll No.: 328356 Registration No.: 2-2-6028569-20\nName: MOMNA RASHEED Form No.: 2620020039\nFather\'s Name: ABDUL RASHEED Bind-Sr.No.: 300508-37\nCollege: 262002-GOVT. COLLEGE FOR WOMEN, HAJIPURA, SIALKOT\n’ Max. Marks Percentile Relative\nSr. Name of Subjects Result Status\nMarks Obtained Score Grade\n1 ISLAMIC EDUCATION 50 18 36 E PASS\n3 URDU 100 37 37 E PASS\n4 ENGLISH 100 37 37 E PASS\n5 PHYSICS 85 28 - - PASS\n6 CHEMISTRY 85 33 38.82 E PASS\n7 BIOLOGY 85 28 -- -- PASS\nTotal: 505 181\n\nNotification: 181\n\nThe candidate has passed and obtained marks: One Hundred Eighty-One Only.\n\n"The marks awarded are the best prediction of the performance and has been awarded under COVID-19 Examinations Policy.\nhence considered as valid and fair.”\n\nNote:-\ni-This result gazette is issued provisionally, errors and omissions excepted, as a notice only. Any entry appearing in this notification does not in itself\nconfer any right or privilege on a candidate for the grant of certificate which will be issued under the rules/ regulations on the basis of the original\nrecord of the Board\'s office.\n\nii-For rechecking you can apply within 20 days after result declaration date.\n\nili-In Case of any query related to result, contact to Board Official Mr.GHULAM ABBAS\n\nItis an electronically generated provisional result intimation so there is no need for signature\n\nCONTROLLER OF EXAMINATIONS\n'